body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(35, 39, 65);/*#E0FFE0;*/
  color: #fff;
}
ul, ol {
  list-style: none;
}

header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: rgb(35, 39, 65)!important;
}

a {
  text-decoration: none;
  color: #fff;
}

:root {
  --amplify-primary-color: rgb(73, 88, 228);
  --amplify-primary-tint: rgb(73, 88, 228);
  --amplify-primary-shade: rgb(73, 88, 228);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  font-size: 40px;
  font-family: serif;
}
h3 {
  font-size: 25px;
  font-family: serif;
}

/* header */
header {
  height: 80px;
  position: fixed;
  top: 0;
  right: 0;
  font-family: serif;
  z-index: 2;
}
header nav {
  padding: 0 4em;
}
header ul{
  display: flex;
}

header ul li{
  margin: 0 1em;
}

/* content */
.content-flex-wrap {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 80px auto 0;
}

/* profile */
.profile {
  width: 30%;
}
.profile-table th {
  text-align: left;
}
button.MuiButtonBase-root{
  width: 100%;
  background-color: #fff;
}
li.MuiListItem-root{
  padding: 0;
  margin: 3em 0;
}

/* content(router) */
.content-flex {
  width: 65%;
}

/* analysis */
.analysis-flex {
  display: block!important;
}

/* Top */
.wrap {
  position: relative;
}
.wrap .top-title {
  position: absolute;
}
.top-title {
  width: 100%;
  text-align: center;
  font-family: 'Explora', cursive;
  font-size: 25vh;
  position: absolute;
  top: 20vh;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
.content-top {
  width: 80%;
  margin: 0 auto;
}
.label {
  color:var(--label-color);
  font-size:var(--amplify-text-sm);
  margin-bottom:16px
}

/* request */
.input {
  width: 100%;
}
.MuiTextField-root{
  width: 100% !important;
}
.MuiListItem-root {
  display: block!important;
}
.MuiListItem-root p {
  margin: 0 0 .2em;
}
#area {
  color: black!important;
}
textarea {
  color: black!important;
}
#context {
  height: 7em !important;
}
.MuiFilledInput-multiline {
  background: #fff;
}
.MuiFilledInput-root {
  background: #fff!important;
}
.MuiInputBase-root {
  background: #fff!important;
  height: 2em;
  color: black!important;
}
#react-select-5-listbox {
  color: black!important;
}
.MuiPickersCalendar-week button.MuiButtonBase-root {
  width: 36px!important;
}
.MuiPickersCalendarHeader-switchHeader button.MuiButtonBase-root {
  width: 46px!important;
}

/* find */
button.MuiButtonBase-root {
  background: rgb(73, 88, 228);
  color: #fff!important;
  margin-bottom: 2em;
}

/* Analysis */
li.MuiListItem-root {
  margin: 0;
}
li.MuiListItem-root td {
  margin: 0 2em 0 0;
}

/* Message */
#message-wrap .MuiInputBase-root {
  height: 7em!important;
}
#message-wrap #message {
  height: 5em!important;
}
#invite-wrap .MuiInputBase-root {
  height: 3em!important;
}
.message-list-wrap li{
  margin-bottom: 1em!important;
}
.message-list {
  background-color: #fff!important;
  border-radius: .5em!important;
  padding: 1em!important;
  color: black!important;
}
.message-info {
  display: flex;
  justify-content: flex-end;
}
.message-info-wrap {
  display: flex;
}
.message-info-wrap p{
  margin: 0 0 0 2em;
}

/* servces */
.fouryou-wrap {
  width: 50%;
}
.fouryou-wrap img {
  width: 100%;
}
